html {
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: #4c96d7 !important;
}
a:hover {
  text-decoration: none !important;
}
img {
  display: block;
  max-width: 100%;
}

.wrapper {
  width: 100%;
  margin: 0 auto !important;
}
.header {
  padding-top: 10px;
  border-bottom: 3px solid #4c96d7;
}
.container {
  margin: 0 auto !important;
  max-width: 90% !important;
}
.search-box {
  display: inline-flex;
  width: 30%;
}
.search-box-input {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.search-box-icon {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  cursor: pointer;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_menu_list {
  display: flex;
  align-items: center;
}
.header_menu_item {
  margin-left: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
@media only screen and (max-width: 980px) {
  .header-inner {
    width: 100%;
  }
  .search-box {
    width: 100%;
  }
}
/* Slider */
.slider {
  width: 100%;
  margin: 30px auto;
}
.carousel {
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}
.carousel-indicators {
  z-index: 1 !important;
}
@media only screen and (max-width: 980px) {
  .slider {
    width: 100%;
  }
}
/* New Product */
.title-box {
  background: #4c96d7;
  color: #fff;
  width: 380px;
  padding: 5px 10px;
  height: 40px;
  margin: 30px 0;
  display: flex;
}
.title-box-name {
  font-size: 25px;
}
.title-box::after {
  content: "";
  position: absolute;
  display: flex;
  margin-top: -4px;
  margin-left: 170px;
}
.product-top {
  width: 100%;
}
.product-bottom .fa {
  color: orange;
  font-size: 20px;
  margin: 10px 0;
}
.product-title {
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
}
.product-description {
  margin: 15px 0;
  font-size: 15px;
  font-style: italic;
}
.card {
  width: 280px;
}

/******************  News  *******************/

/*footer*/
.footer-top {
  background-color: #4c96d7;
}
.footer-bottom {
  background-color: rgba(0, 0, 0, 0.2);
}
